DDBID_PORT=8080
DDBID_PATHPREFIX=/
# every Friday at 06:00
DDBID_CRON_OBJECTS=0 0 6 * * FRI
DDBID_CRON_RETRY_MAX_ATTEMPTS=5
DDBID_CRON_RETRY_DELAY=600000
SCHEDULER_ENABLED=true
DDBID_DATABASE_TYPE=h2
DDBID_DATABASE_FILE=data/ddbid_DO_NOT_DELETE_ITS_IMPORTANT.db
DDBID_DATABASE_URL=
DDBID_DATABASE_USER=
DDBID_DATABASE_PASSWORD=
DDBID_DATABASE_QUERY_TIMEOUT_SECONDS=300
DDBID_DATABASE_INDEXES_AUTO=false
DDBID_SERVICE_LOG_LEVEL=INFO
DDBID_CACHE_REFRESH_CRON=0 0 */4 * * *
DDBID_STATISTICS_CACHE_REFRESH_CRON=0 0 */4 * * *
DDBID_DATAPATH_ITEM=data/dumps/item/
DDBID_DATAPATH_PERSON=data/dumps/person/
DDBID_DATAPATH_ORGANIZATION=data/dumps/organization/
DDBID_DUMP_LOCKFILE=data/DUMP_IS_RUNNING.lock
DDBID_SECURITY_USER=user
DDBID_SECURITY_PASSWORD=myverysecretpassword
