#btn-back-to-top {
    position: fixed;
    bottom: 18px;
    left: 12px;
    display: none;
    z-index: 10000;
}
table th {
     min-width: 150px;
}
.dataTables_processing { 
    z-index: 1 !important;
    width: 100% !important;
    height: 100% !important;
    top: auto !important;
    left: auto !important;
    margin: 0 !important;
    border: 0 !important;
}
#missingBySectorLegend, #missingByProviderLegend {
    font-size: 10px;
}