<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="DDBid is a small and lightweight tool to record all DDB object IDs, compare it with previous ID dumps and show differences (new and missing items, persons and organizations)."
              name="description"/>
        <meta content="Michael Büchner" name="author"/>
        <title>DDBid</title>
        <link th:href="@{webjars/bootswatch-lux/5.0.2/bootstrap.min.css} " th:rel="stylesheet"/>
        <link th:href="@{css/custom.css}" th:rel="stylesheet"/>
        <script th:src="@{webjars/font-awesome/5.15.4/js/all.min.js}" data-auto-replace-svg="nest"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/navbar.html"></div>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center" th:text="${status}"></h1>
                <div class="inline-block align-middle">
                    <h2 class="font-weight-normal lead" id="desc" th:text="${error}"></h2>
                </div>
            </div>
        </div>
        <script th:src="@{webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
