<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DDBid - Error</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">DDBid</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center" th:text="${status}"></h1>
                <div class="inline-block align-middle">
                    <h2 class="font-weight-normal lead" id="desc" th:text="${error}"></h2>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>