<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="DDBid is a small and lightweight tool to record all DDB object IDs, compare it with previous ID dumps and show differences (new and missing items, persons and organizations)."
              name="description"/>
        <meta content="Michael Büchner" name="author"/>
        <title>DDBid</title>
        <link th:href="@{webjars/bootswatch-lux/5.0.2/bootstrap.min.css} " th:rel="stylesheet"/>
        <link th:href="@{css/custom.css}" th:rel="stylesheet"/>
        <script th:src="@{webjars/font-awesome/5.15.4/js/all.min.js}" data-auto-replace-svg="nest"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div th:replace="fragments/navbar.html"></div>
        <div class="container-fluid">
            <div class="px-4 py-5 my-5 text-center">
                <i class="fas fa-5x fa-life-ring fa-spin mb-5"></i>
                <h1 class="display-5 fw-bold">DDBid</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">DDBid is a small and lightweight tool to record all DDB object IDs, compare it with
                        previous ID dumps and show differences (new and missing items, persons and organizations).</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-secondary btn-lg px-4 gap-3" href="item.html">Item</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="person.html">Person</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="organization.html">Organization</a>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
