<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DDBid</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">DDBid</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/item">Items
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Person</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Organization</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mt-3 mb-5">
                    <div class="table-responsive">
                        <table id="ddbid" class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Dataset ID</th>
                                    <th>Label</th>
                                    <th>Provider ID</th>
                                    <th>Supplier ID</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{assets/datatable/datatables.js}"></script>
        <script>
            $('#ddbid').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "pagingType": "first_last_numbers",
                "processing": true,
                "lengthMenu": [ [25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, "Alle"] ],
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.4/i18n/de_de.json"
                },
                "ajax": {
                    "url": "/item",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        d.status = $('#statusBtnNew').hasClass('active') ? 'NEW' : 'MISSING';
                        d.timestamp = "myTimestamp";
                        return JSON.stringify(d);
                    }
                },
                fixedHeader: true,
                "autoWidth": false,
//                searchPanes: {
//                    columns: [ 2 ],
//                    controls: false
//                },
//                dom: 'Plfrtip',
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        autoClose: true,
                        text: 'Timestamp',
                        buttons: [
                            {
                                text: '2022-02-15',
                                action: function (e, dt, node, config) {

                                }
                            },
                            {
                                text: '2022-02-14',
                                action: function (e, dt, node, config) {

                                }
                            }
                        ]
                    },
                    {
                        extend: 'collection',
                        autoClose: true,
                        text: 'Status',
                        buttons: [
                            {
                                text: 'MISSING',
                                className: 'active',
                                attr: {id: 'statusBtnMissing'},
                                action: function (e, dt, node, config) {
                                    $('#statusBtnMissing').addClass('active');
                                    $('#statusBtnNew').removeClass('active');
                                    $('#ddbid').DataTable().ajax.reload();
                                }
                            },
                            {
                                text: 'NEW',
                                attr: {id: 'statusBtnNew'},
                                action: function (e, dt, node, config) {
                                    $('#statusBtnNew').addClass('active');
                                    $('#statusBtnMissing').removeClass('active');
                                    $('#ddbid').DataTable().ajax.reload();
                                }
                            }
                        ]
                    },
                    'pageLength', 'copy', 'csv', 'excel'

                ],
                "columns": [
                    {"data": "timestamp"},
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="https://www.deutsche-digitale-bibliothek.de/item/' + data + '" target="_blank">' + data + '</a>';
                            }
                            return data;
                        }
                    },
                    {"data": "status"},
                    {"data": "dataset_id"},
                    {"data": "label"},
                    {
                        "data": "provider_id",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = data.replace(/([A-Z0-9]{32})/g, function (a, b) {
                                    return '<a href="https://www.deutsche-digitale-bibliothek.de/organization/' + b + '" target="_blank">' + b + '</a>';
                                });
                            }
                            return data;
                        }
                    },
                    {"data": "supplier_id"}
                ],
                "createdRow": function (row, data, dataIndex) {
                    if (data['status'] === 'NEW') {
                        $(row).addClass('text-success');
                    } else if (data['status'] === 'MISSING') {
                        $(row).addClass('text-danger');
                    }
                }
            });
        </script>
    </body>
</html>