<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="DDBid is a small and lightweight tool to record all DDB object IDs, compare it with previous ID dumps and show differences (new and missing items, persons and organizations)."
              name="description"/>
        <meta content="Michael Büchner" name="author"/>
        <title>DDBid</title>
        <link th:href="@{webjars/bootswatch-lux/5.0.2/bootstrap.min.css} " th:rel="stylesheet"/>
        <link th:href="@{css/custom.css}" th:rel="stylesheet"/>
        <script th:src="@{webjars/font-awesome/5.15.4/js/all.min.js}" data-auto-replace-svg="nest"></script>
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-expand-lg static-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <i class="fas fa-1x fa-life-ring"></i> DDBid</a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-bs-target="#navbarResponsive" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="item.html">Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="person.html">Person</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="organization.html">Organization</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="statistics.html"><i
                                    class="fas fa-chart-line"></i> Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="download.html"><i
                                    class="fas fa-download"></i> Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/mbuechner/ddbid" rel="noopener" target="_blank"><i
                                    class="fab fa-github"></i> GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-xxl-4">
                    <canvas id="missingItemConfig"></canvas>
                </div>
                <div class="col-xxl-4">
                    <canvas id="missingPersonConfig"></canvas>
                </div>
                <div class="col-xxl-4">
                    <canvas id="missingOrganizationConfig"></canvas>
                </div>
            </div> 
            <div class="row justify-content-md-center mt-5">
                <div class="col-xl-4">
                    <canvas id="missingByProvider" width="100%" height="300"></canvas>
                </div>
                <div class="col-xl-6">
                    <div id="missingByProviderLegend" style="font-size: 10px" class="mt-5 small font-weight-light"></div>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-xl-4">
                    <canvas id="missingBySector" width="100%" height="300"></canvas>
                </div>
                <div class="col-xl-6">
                    <div id="missingBySectorLegend" class="mt-5 small"></div>
                </div>
            </div>
        </div>
        <script th:src="@{webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{webjars/chartjs/3.7.1/dist/chart.min.js}"></script>
        <script th:src="@{js/htmlLegendPlugin.js}"></script>
        <script th:src="@{js/palette.js}"></script>
        <script th:src="@{js/statistics.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {

                const itemMissingKeys = /*[[${itemMissingKeys}]]*/ null;
                const itemMissingValues = /*[[${itemMissingValues}]]*/ null;
                missingItemConfig(itemMissingKeys, itemMissingValues);

                const personMissingKeys = /*[[${personMissingKeys}]]*/ null;
                const personMissingValues = /*[[${personMissingValues}]]*/ null;
                missingPersonConfig(personMissingKeys, personMissingValues);

                const organizationMissingKeys = /*[[${organizationMissingKeys}]]*/ null;
                const organizationMissingValues = /*[[${organizationMissingValues}]]*/ null;
                missingOrganizationConfig(organizationMissingKeys, organizationMissingValues);

                const missingByProvider_idKeys = /*[[${missingByProvider_idKeys}]]*/ null;
                const missingByProvider_idValues = /*[[${missingByProvider_idValues}]]*/ null;
                missingByProvider_id(missingByProvider_idKeys, missingByProvider_idValues);

                const missingBySector_fctKeys = /*[[${missingBySector_fctKeys}]]*/ null;
                const missingBySector_fctValues = /*[[${missingBySector_fctValues}]]*/ null;
                missingBySector_fct(missingBySector_fctKeys, missingBySector_fctValues);
            });
            /*]]>*/
        </script>
    </body>
</html>
